<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sawt_al_amal">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="test"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:screenOrientation="landscape" android:name=".activity.MainActivity3"  />


        <activity android:name=".activity.CreateGeste" />
        <activity android:name=".activity.GesteActivity" />
        <activity android:name=".activity.NumZeroActivity" />
        <activity android:name=".activity.NumbersActivity" /> <!-- SOUND REC -->
        <activity
            android:name=".activity.soundRec.vr.record.MainActivity2"
            android:configChanges="keyboard|orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.soundRec.vr.record.list.RecordingsListActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:label="@string/title_activity_recordings_list"
            android:parentActivityName=".activity.soundRec.vr.record.MainActivity2"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.soundRec.vr.record.MainActivity2" />
        </activity>
        <activity
            android:name=".activity.soundRec.vr.record.recorder.RecordActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:label="@string/title_activity_record"
            android:parentActivityName=".activity.soundRec.vr.record.MainActivity2"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.soundRec.vr.record.MainActivity2" />
        </activity>
        <activity
            android:name=".activity.soundRec.vr.record.SettingsActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".activity.soundRec.vr.record.MainActivity2">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.soundRec.vr.record.MainActivity2" />
        </activity>
        <activity android:name=".activity.soundRec.vr.record.Testing" />

        <service android:name=".activity.soundRec.vr.record.recorder.ContinuousRecordingService" />

        <activity android:name=".activity.soundRec.vr.record.Licenses" /> <!-- FIN SOUND REC -->
        <activity android:name=".activity.LevelsActivity" />
        <activity android:name=".activity.signup" />
        <activity android:name=".activity.login" />
        <activity android:name=".activity.HomeActivity" />
        <activity android:name=".activity.MainActivity1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.GifsActivity" />
    </application>

</manifest>